<mat-toolbar color="dark" role="header">
  <div class="fill d-inline">Huscii</div>
  <div class="d-inline button-row">
    <button mat-button routerLink="/members" routerLinkActive="active" i18n>Members</button>
  </div>
</mat-toolbar>

<main class="container-fluid py-3">
  <router-outlet></router-outlet>
</main>

<footer class="footer">
  <div class="container-fluid text-muted">
    <div class="row">
      <div class="offset-sm-4 col-sm-4 text-center">
        &copy; 2018 - <a class="text-muted" href="https://github.com/ascii-dresden">ascii Dresden</a>
      </div>
      <div class="col-sm-4 d-none d-sm-block text-right">v0.0.0</div>
    </div>
  </div>
</footer>
