i, span {
  &.material-icons {
    font-size: $font-size-base;
  }
}

.mat-toolbar {
  &.mat-dark {
    background: $dark;
    color: $white;
    button[mat-button].active {
      background: $white;
      color: $dark;
    }
  }
}

.d-flex {
  .mat-form-field-infix {
    width: 100%;
  }
}
