<form [formGroup]="form" (ngSubmit)="submit(form)">
  <h5 mat-dialog-title *ngIf="!edit" i18n>Add Member</h5>
  <h5 mat-dialog-title *ngIf="edit" i18n>Edit {{ name }}</h5>
  <mat-dialog-content>
    <mat-form-field style="width: 100%">
      <input matInput formControlName="firstName" placeholder="Given Name" i18n-placeholder="@@firstName">
    </mat-form-field>
    <mat-form-field style="width: 100%">
      <input matInput formControlName="lastName" placeholder="Sur Name" i18n-placeholder="@@lastName">
    </mat-form-field>
    <mat-checkbox formControlName="boardMember" i18n>Board Member</mat-checkbox>
    <mat-divider class="my-3"></mat-divider>
    <div formArrayName="contacts">
      <div class="row" *ngFor="let contact of contacts.controls; let i=index" [formGroupName]="i">
        <div class="col-11">
          <div class="row">
            <div class="col-6">
              <mat-form-field style="width: 100%">
                <input matInput formControlName="type" placeholder="Type" i18n-placeholder="@@type">
              </mat-form-field>
            </div>
            <div class="col-6">
              <mat-form-field style="width: 100%">
                <input matInput formControlName="value" placeholder="Value" i18n-placeholder="@@value">
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="col-1 px-1 px-md-2">
          <a href="javascript:void(0);" (click)="addContact()">
            <i class="fa fa-plus-circle"></i>
          </a>
          <a href="javascript:void(0);" (click)="removeContact(i)">
            <i class="fa fa-minus-circle"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="d-flex">
      <div class="mr-auto">
        <p *ngIf="delete" i18n>{{ name }} will be removed on save.</p>
      </div>
      <div>
        <mat-checkbox class="float-right" formControlName="delete" *ngIf="edit" align="end" [(ngModel)]="delete" i18n>Remove</mat-checkbox>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button type="submit" i18n>Save</button>
    <button mat-button type="button" mat-dialog-close i18n>Cancel</button>
  </mat-dialog-actions>
</form>
