<div class="row pb-3">
  <div class="col-12">
    <mat-card>
      <div class="d-flex flex-row">
        <mat-form-field class="mr-auto pr-3 w-100" style="margin-bottom: -1.25rem">
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter" i18n-placeholder="@@filter">
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="onAdd()">
          <i class="fa fa-plus"></i>
          <span i18n>Add</span>
        </button>
      </div>
    </mat-card>
  </div>
</div>

<div class="row">
  <div class="col-md-6 pb-3">
    <mat-card>
      <ascii-card-header class="d-flex">
        <mat-card-title class="mr-auto" i18n>Member List</mat-card-title>
        <!-- TODO: Member List export -->
        <!-- <button mat-mini-fab color="secondary"><mat-icon>archive</mat-icon></button> -->
      </ascii-card-header>
      <mat-card-content>
        <mat-table #table [dataSource]="dataSource" matSort matSortActive="firstName">
          <ng-container matColumnDef="position">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let member">
              <i class="fa" [ngClass]="member.boardMember ? 'fa-star text-warning' : 'fa-user text-primary'"></i>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="firstName">
            <mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@firstName">Given Name</mat-header-cell>
            <mat-cell *matCellDef="let member">
              <a href="javascript:void(0);" (click)="selectMember(member)">{{ member.firstName }}</a>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="lastName">
            <mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@lastName">Surname</mat-header-cell>
            <mat-cell *matCellDef="let member">
              <a href="javascript:void(0);" (click)="selectMember(member)">{{ member.lastName }}</a>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
      </mat-card-content>
      <mat-card-actions>
        <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true"></mat-paginator>
      </mat-card-actions>
    </mat-card>
  </div>

  <div id="selected-member" class="col-md-6 pb-3" *ngIf="selectedMember">
    <ascii-member-details (edit)="onEdit(selectedMember)"></ascii-member-details>
  </div>
</div>
